.toc {
    overflow-y: auto
}

.toc>ul {
    overflow: hidden;
    position: relative
}

.toc>ul li {
    list-style: none
}

.toc-list {
    margin: 0;
    padding-left: 10px;
    /* max-width: 185px; */
    font-size: small;
    line-height: 2;
    color: #616161;
}

a.toc-link {
    color: currentColor;
    height: 100%
}

.is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.is-collapsed {
    max-height: 0
}

.is-position-fixed {
    position: sticky;
    top: 0;
}

.is-active-link {
    font-weight: 700
}

.toc-link::before {
    background-color: #EEE;
    content: ' ';
    display: inline-block;
    height: inherit;
    left: 0;
    margin-top: -1px;
    position: absolute;
    width: 2px
}

.is-active-link::before {
    background-color: #54BC4B
}

.toc-list-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.js-toc > ul {
    position: absolute;
    max-width: 115px;
}
